body {
  background: #f0f2f5;
}
header .ant-menu {
  line-height: 64px;
}
main.ant-layout-content {
  padding: 0 50px;
  margin-bottom: 50px;
}
main .ant-breadcrumb {
  margin: 16px 0px;
  padding: 10px 15px;
  background: #fff;
}
main .app-content {
  background: #f9f9f9;
  padding: 24px;
  min-height: 280px;
}
.ant-statistic {
  text-align: center;
  background: #ccc;
  padding: 20px 10px;
}
.ant-statistic-title {
  color: #f9f9f9;
}
.ant-statistic-content {
  color: #f9f9f9;
}
.statistic-total.ant-statistic {
  background: #1f4679;
}
.statistic-total .ant-statistic-title {
  font-size: 20px;
}
.statistic-total .ant-statistic-content-value {
  font-size: 30px;
}
.ant-table-thead > tr > th {
  background: #1f4679;
  color: #fff;
}
.default-header-style .ant-table-thead > tr > th {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.85);
}
@media screen and (max-width: 768px) {
  main.ant-layout-content {
    padding: 0 10px;
  }
}
